#display {
  margin-bottom: 8px;
  padding: 12px;
  grid-column-start: 1;
  grid-column-end: 4;
  color: #fefd4c;
  background-color: #371b16;
  border-radius: 8px;
  font-family: kallisto-lined, sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 5px #f08737;
}
